<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Recipe Share </title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div class="header">
    <h1>Edit Recipe!</h1>
    <div class="header__buttons">
      <form action="/recipes" method="GET">
        <button>
          back to recipes
        </button>
      </form>
      <form action="/" method="GET">
        <button>
          Logout
        </button>
      </form>
    </div>
  </div>
  <form action="/recipe/edit/{{current_recipe.id}}" method="POST">
    <label for="recipe_name">
      Name
    </label>
    <input id="recipe_name" name="recipe_name" value="{{current_recipe.name}}">
  
  <label for="recipe_description">
    Description
  </label>
  <input id="recipe_description" name="recipe_description" value="{{current_recipe.description}}">
  <label for="recipe_instructions">
    Instructions
  </label>
  <input id="recipe_instructions" name="recipe_instructions" value="{{current_recipe.instructions}}">
  <input type="hidden" id="user_id" name="user_id" value="12345">

  <label for="recipe_date_cooked">Date cooked:</label>
  <input type="date" id="recipe_date_cooked" name="recipe_date_cooked" onchange="updateTextField()">

  <button type="submit">
    Submit
  </button>

  </form>
  </body>

</html>