<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Add a New Recipe </title>
  <!-- <link rel="stylesheet" href="./static.style.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>

<body>

  <!-- <h1>
      Hey {{ session[ 'full_name' ] }} you are now in the 'Adding a new todo section'
    </h1> -->
  <form action="/recipes" method="GET">
    <button class="btn btn-warning">
      back to recipes
    </button>
  </form>
  <form action="/" method="GET">
    <button class="btn btn-warning">
      Logout
    </button>
  </form>
  <div class="conatiner">
    <div class="row">
      <div class="col-6 d-flex-col align-items-center">
        <h1>Add a New Recipe!</h1>
        <form action="/recipe/new" method="POST">
          <div>
            <label for="recipe_name">
              Name
            </label>
            <input id="recipe_name" name="recipe_name">
          </div>
          <div>
            <label for="recipe_description">
              Description
            </label>
            <input id="recipe_description" name="recipe_description">
          </div>
          <div>
            <label for="recipe_instructions">
              Instructions
            </label>
            <input id="recipe_instructions" name="recipe_instructions">
          </div>

          <div class="col-6 d-flex-col align-items-center">
          
            <label for="recipe_date_cooked">Date cooked:</label>
            <input type="date" id="recipe_date_cooked" name="recipe_date_cooked"  onchange="updateTextField()">
          
          </div>
                    <input type="hidden" id="user_id" name="user_id" value="12345">
                    <button type="submit" class="btn btn-success">
                      Submit
                    </button>

        </form>
      </div>
      
    </div>
  </div>
  <!-- <script src="./static/script.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
</body>

</html>