<div class="container">
  <h1>
    Welcome, {{ session[ 'full_name' ] }}
  </h1>
  <table>
    <tr>
      <th>
        View Recipe
      </th>
      <th>
        Edit
      </th>
      <th>
        Delete
      </th>
    </tr>
    {% for recipe in list_of_recipes: %}
    <tr>
      <td>
        {{ recipe.name }}
      </td>
      <td>
        <form action="/recipe/{{recipe.id}}" method="GET">
          <button type="submit" class="btn btn-info">
            View recipe
          </button>
        </form>
      </td>
      <td>
        <form action="/recipe/edit/{{recipe.id}}" method="GET">
          <button type="submit" class="btn btn-info">
            Edit
          </button>
        </form>
      </td>
      <td>
        <form action="/recipe/remove/{{recipe.id}}" method="POST">
          <button type="submit" class="btn btn-danger">
            Delete
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  <form action="/recipe/new" method="GET">
    <button type="submit" class="btn btn-success">
      Add a New Recipe!
    </button>
  </form>
  <!-- <form action="/user/{{session['user_id']}}" method="GET">
    <button type="submit" class="btn btn-info">
      My recipes
    </button>
  </form> -->
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>